body{
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-custom {
    background-color: #016946;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#left {
    background-color: blue;
    height: 400px;
}
#right {
    height: 400px;
}



#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#brand-image
{
    height: 50px;
}

.icon
{
    height: 10px;
    margin-top: 5px;
}

img {
    max-width:100%;
    max-height:100%;
}

.third {
}

#account {
    background-color: white;
}

#play {
    width: 200px;
    height: 100px;
    background-color: orangered;
    border: 1px solid orange;
    color: orange;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 2em;
}

#forwards {
    background-color: white;
    padding: 10px;
    background-color: green;
}

#forwards img {
    float: left;
}

#backs {
    background-color: white;
}

#accountinfo {
    padding: 10px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #016946;
    color: white;
}

.player {
    display: inline-block;
    width: 100%;
    float: left;
    height: 200px;
}

.player-text {
    float: right;
}

.playerRow {
    width: 100%;
    height: 150px;
    padding-bottom: 15px;
}

.playerBox {
    width: 20%;
    height: 140px;
    margin: 0px;
    float: left;

}

.full {
    font-weight: bold;
    color: white;
}

.playerImage {
    background-size: 100% 100%;
    width: 100%;
    float: left;
    height: 100px;
}
.playerUnder {
    border: 1px solid black;
    height: 40px;
    text-align: center;
    float: left;
    width: 100%;
    vertical-align: middle;
    background-color: darkblue;
    color: white;
    line-height: 40px;
}


@media (max-width: 800px) {
    #account {
        display: block;
        height: auto;
        overflow: auto;
        margin-bottom: 20px;
    }

    #accountinfo  h1,h2,h3{
        text-align: left;
        width: 50%;
        display: inline;
        margin: 0px;
        font-size: 1.5em;
        float: right;
        text-align: right;
    }
    #accountinfo br {
        display: none;
    }
    #accountinfo img {
        width: 50%;
        height: 100%;
        float: left;
    }
    #play {
        margin-top: 10px;
        width: 100%;
        display: inline-block;
    }

    .full {
        display: inline-block;
        margin-right: 10px;
        font-size: 70%;
    }
    .playerRow *{
        margin: 0 auto;
        display: inline;
    }
    #forwards {
        padding-left: 4%;
        padding-right: 4%;
        margin: 2%;
    }
}


/* Player Images URLs hardcoded*/
#player1 {
    background-image: url("../images/Ulster&MunsterPics/Munster/dKilcoyne.png");
}

#player2 {
    background-image: url("../images/Ulster&MunsterPics/Munster/nScannell.png");
}
#player3 {
    background-image: url("../images/Ulster&MunsterPics/Munster/sArcher.png");
}
#player4 {
    background-image: url("../images/Ulster&MunsterPics/Munster/jKleyn.png");
}
#player5 {
    background-image: url("../images/Ulster&MunsterPics/Munster/tBeirne.png");
}
#player6 {
    background-image: url("../images/Ulster&MunsterPics/Munster/pOmahony.png");
 }
#player7 {
    background-image: url("../images/Ulster&MunsterPics/Munster/cCloete.png");
}
#player8 {
    background-image: url("../images/Ulster&MunsterPics/Munster/cStander.png");
}
#player9 {
    background-image: url("../images/Ulster&MunsterPics/Munster/cMurray.png");
}
#player10 {
    background-image: url("../images/Ulster&MunsterPics/Munster/jCarbery.png");
}
#player11 {
    background-image: url("../images/Ulster&MunsterPics/Munster/kEarls.png");
}
#player12 {
    background-image: url("../images/Ulster&MunsterPics/Munster/dGoggin.png");
}
#player13 {
    background-image: url("../images/Ulster&MunsterPics/Munster/rScannell.png");
}
#player14 {
    background-image: url("../images/Ulster&MunsterPics/Munster/aWootton.png");
}
#player15 {
    background-image: url("../images/Ulster&MunsterPics/Munster/aConway.png");
}




